/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
}

.page-content {
    text-align: center
}

input[type=text] {
    width: 500px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
  }
 */

 /* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  .page-content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  /* Header styles */
  h1 {
    color: #333;
    text-align: center;
  }
  
  h3, h4 {
    color: #555;
  }
  
  /* Form styling */
  .form-input {
    margin-bottom: 20px;
  }
  
  form ul {
    padding: 0;
  }
  
  form ul li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="integer"], input[type="string"] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Image preview */
  img {
    display: block;
    margin: auto;
  }
  
  /* Environmental sensor log section */
  div.form-input h4 {
    font-size: small;
  }
  