<html>
  <head>
    <title>Soil Holographic Sensor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="page-content">
      
      <h1>Soil Holographic Stream</h1>
      
      <h4>Latest Image Preview</h4>
      <div>
        <img src="{{ url_for('image_preview') }}" width="50%">
      </div>
         
      
      <h4> Time Lapse Setting </h4>
      <div class = "form-input">
        <form method="POST" action ="/start">
        Filename: <input type="text" name="filename" placeholder="test.jpg"><br>
        Total run time (minutes) <input type="integer" name="duration" placeholder="1"><br>
        Interval between shot (seconds): <input type="integer" name = "interval" placeholder = "15"><br>
        <input type="submit" value="Start Time Lapse"></input>
      </div>
      
      <h4> Start Time Lapse: {{state}}, Total Number Photos: {{numphotos}}</h4>
  
      <h4> Camera Setting </h4>
      <div class = "form-input">
        <form method = "POST" action = "/camera_setting">
        <input type = "button" value = "defaultAGC">AutoGain (Default)</input>
        
        <input type = "button" value = "custom">custom</input>
        </form>
      </div>
    
    </div>
  </body>
</html>
